#time-range {
    font-size: 1em;
    width: 200px;
    display: block;
    margin: 0 auto;
}

#log-table tr:nth-of-type(2n) {
    background-color: grey;
}


/* table responsiveness */

#log-table th {
    display: none;
}

#log-table td {
    display: block;
    margin: .2em .5em;
}

#log-table td:nth-of-type(5n) {
    margin-bottom: 1em;
}

#log-table td:nth-of-type(5n+1) {
    margin-top: 1em;
}

#log-table td:before {
    content: attr(data-th)": ";
    font-weight: bold;
}

#log-table th, #log-table td {
    text-align: left;
}

@media screen and (min-width: 1250px) {
    #log-table th, #log-table td {
        display: table-cell;
        padding: .5em; 
        min-width: 190px;
        vertical-align: top;
    }

    #log-table td:before {
        content: unset;
    }
}