/*
Color Scheme:
    dark: #121212
    elevated: #2e2e2e
    light: #ffffff
    primary: #BB86FC
    accent: #03dac6
*/

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Sans', sans-serif;
}

header {
    padding: 1em;
    font-size: 1.2em;
}

body {
    background-color: #121212;
    color: #ffffff;
    min-height: calc(100vh - 4em);
    position: relative;
}

body::after {
    content: '';
    display: block;
    height: 4em;
  }  

main {
    width: 90%;
    margin: 2.2em auto;
    font-size: 1.5em;
}

footer {
    margin: 1.5em 0;
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 0;
}

a {
    color: #03dac6;
}

form {
    margin: 2em 0;
}

label {
    display: block;
    margin-bottom: .2em;
}

input[type='text'], input[type='password'], input[type='email'] {
    width: 90%;
    font-size: 1.2em;
}

input[type='submit'] {
    background-color: #2e2e2e;
    color: #BB86FC;
    display: block;
    width: 4em;
    height: 2em;
    font-size: 1.5em;
    margin: .7em auto;
    border-radius: .3em;
}

.input-line {
    display: block;
    width: 100%;
    margin-bottom: .5em;
}